<div class="container">
  <h1>A+ CPTED Report Automation Demo</h1>
  <!--<button (click)="fetchArchistarSuggest()">Click to check start</button>-->
  <br/>
  <h3>Please enter address to start</h3>

  <input type="text" placeholder="Example: 1-7 Castlereagh Street Sydney 2000 " #box (keyup.enter)="fetchArchistarSuggest(box.value)"/>
  <p *ngIf="archiStarResponse"> Fetched: {{archiStarResponse.result.propertyID}}</p>
  <!--<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="response">
    <thead>
      <tr>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of response.results">
        <td>{{ result.index }}</td>
      </tr>
    </tbody>
  </table>-->
</div>
